.navbar {
    background-color: #432874;
}

.table {
    color: black;
    height: 680px;
    table-layout: fixed;

}
.table img
{
  height: auto;
  max-width: 100%;
}

.navbar .navbar-brand {
    color: white;
}
.weekdays
{
  height: 10px;
  color: white;
  background-color:#36205d;

}

.table-bordered > thead > tr > th{
  border-color:#36205d;
}


tr{
  background-color:#f9f9f9;

}
